@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* Header */

*{
    box-sizing: border-box;
}


.head1 {
    background-color: #1CD1B0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    width: auto;
}
.head2 {
    position: sticky;
    z-index: 999;
    top:0;
    padding-top: 28px;
    padding-bottom: 28px;
    padding-left: 28px;
    background-color: #00669F;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 400;
    width: auto;
    display: flex;

}

.head2 img {
    width: 100px; height: 100px;
    
}


 
/* Main */

main{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100vh;
}

.container1{
    width: 40%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*align-items: center;*/
    
}

.container1 h2{
    font-size: 72px;
    position: relative;
    left: -5px;
}

form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

form input, select {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
}

.submitReset{
    display: flex;
    width: 100%;
}

input[type=reset] {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 30px;
    margin-right: 10px;
    background-color: #888888;
    border: none;
    color: white;
    width: 100%;
    cursor: pointer;
    border-radius: 10px;
}

input[type=submit] {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 30px;
    background-color: #1CD1B0;
    border: none;
    color: black;
    width: 100%;
    cursor: pointer;
    border-radius: 10px;
}

/* Footer */
footer {
    background-color: #00669F;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: white;
    height: 61px;
    display: flex;
    justify-content: center;
    align-items: center;

    
}